.resume_nav{
    color: rgb(163, 30, 30);
    font-weight: bold;
    border-bottom: 2px solid black;
}
.pdf {
    margin: 50px auto;
    width: 90%; 
    max-width: 800px; 
    background: white;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}