<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='Pictures/portfoliologo.png') }}" alt="logo" style="width: 80px; height: 80px;">
            </a>
        </div>
        <ul>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('resume') }}">Resume</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
    <section class="about">
        <img src="{{url_for('static',filename='Pictures/Raghav.jpg')}}" alt="Raghav's Picture" style="width: 100px; height: 180px;">
        <h1>Hi, I'm Raghav Upadhyay</h1>
    <p>
        I’m a passionate and motivated <strong>Data Science Enthusiast</strong> with a solid foundation in 
        <strong>machine learning</strong>, <strong>data analysis</strong>, and <strong>statistical methods</strong>. 
        I thrive on solving real-world problems by turning raw data into actionable insights.
    </p>
    <p>
        Currently, I’m seeking opportunities to work on <strong>data-driven projects</strong> to enhance my skills in 
        <strong>Python</strong>, <strong>SQL</strong>, and <strong>machine learning</strong>.
    </p>
    <p>
        When I’m not analyzing data, feel free to explore my portfolio, learn more about me, and check out my projects. 
        Let’s connect and build something impactful together!
    </p>
    </section>
    <section class="website">
        <a href="https://www.linkedin.com/in/raghav-upadhyay-8288421ba/" target="_blank">
            <img src="{{ url_for('static', filename='Pictures/linkedin.png') }}" alt="LinkedIn Icon" style="width: 30px; height: 30px;">
        </a>
        
        <a href="https://github.com/raghav-upadhyay2002" target="_blank">
            <img src="{{ url_for('static', filename='Pictures/github.png') }}" alt="GitHub Icon" style="width: 30px; height: 30px;">
        </a>

    </section>
</body>
</html>