<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='Pictures/portfoliologo.svg') }}" alt="logo" style="width: 80px; height: 80px;">
            </a>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}" class="home_nav">Home</a></li>
            <li><a href="{{ url_for('about') }}" class="about_nav">About</a></li>
            <li><a href="{{ url_for('projects') }}" class="projects_nav">Projects</a></li>
            <li><a href="{{ url_for('resume') }}" class="resume_nav">Resume</a></li>
            <li><a href="{{ url_for('contact') }}" class="contact_nav">Contact</a></li>

        </ul>
    </nav>
    <section class="projects">
        <div class="project-card">
            <h2><a href="https://github.com/raghav-upadhyay2002/Sentiment-Analysis-Annotation.pdf" target="_blank">Sentiment Analysis Annotation</a></h2>
            <p>This project focuses on sentiment analysis of customer reviews for refurbished mobile phones from Amazon. The goal is to classify reviews as positive or negative using a manually annotated dataset and a neural network model.
        
            </p>            
        </div>
    
        <div class="project-card">
            <h2><a href="https://github.com/raghav-upadhyay2002/Text-Classification?tab=readme-ov-file#hate-speech-detection-model" target="_blank">Hate Speech Detection Model</a></h2>
            <p>This project focuses on developing a machine learning model to detect and classify hate speech in online text. Using a dataset sourced from Kaggle, the model aims to enhance content moderation on social media platforms and create a safer online environment.</p>
        </div>
    
        <div class="project-card">
            <h2><a href="https://github.com/raghav-upadhyay2002/-Evaluation-of-Commonsense-Reasoning-Using-Pre-trained-Language-Models" target="_blank">Evaluation of Commonsense Reasoning Using Pre-trained Language Models</a></h2>
            <p>This repository contains the code and resources for evaluating the zero-shot performance of two pre-trained large language models (LLMs) on the Physical Interaction Question Answering (PIQA) dataset. The goal is to assess the ability of LLMs to reason about physical scenarios without additional fine-tuning.</p>
        </div>
    </section>
</body>
</html>